/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* font-size: 7px; */
}

.navbar {
  background-color: #6f6af7;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 5.2rem;
  font-family: "Delius Unicase";
  font-weight: 700;
  color: #fff;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 2rem;
  font-size: 2.4rem;
  font-family: "DM Sans";
  font-weight: 400;
}

.arrow-dwn {
  width: 10px;
  transform: translateY(-80%);
}

.search-box {
  background-color: #fff;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.search-input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0.5rem 1rem;
  flex: 1;
  font-size: 1.6rem;
}

.search-input::placeholder {
  color: #9f9f9f;
}

.search-icon {
  width: 16px;
  cursor: pointer;
  transform: translateX(-30%);
}

.hamburger {
  width: 40px;
}

.banner-box {
  display: flex;
  max-width: 1300px;
  margin: 5rem auto;
  margin-top: 10rem;
  gap: 5rem;
  transform: translateX(2%);
}

.banner {
  width: 350px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.banner-text-box {
  background-color: #e5d8ff;
  flex: 1;
  border-radius: 20px;
  padding: 2rem;
  outline: none;
  font-size: 2rem;
  color: #6f7373;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.social-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: sticky;
  float: right;
  top: 7rem;
  right: 0;
}

.social {
  border: 2px solid #000;
  padding: 0.5rem;
}

.social-img {
  width: 44px;
}

.stats-section {
  max-width: 1300px;
  margin: 10rem auto;
  display: flex;
  gap: 5rem;
}

.stats-box {
  font-family: "DM Sans";
  font-weight: 700;
  color: #fff;
  font-size: 2rem;
  width: 25%;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  padding: 1.6rem 2.4rem;
  border-radius: 10px;
}

.stat-title {
  margin-bottom: 1rem;
}

.stat1 {
  background-color: #929dff;
}

.stat2 {
  background-color: #734cf2;
}

.stat3 {
  background-color: #d288ff;
}

.stat4 {
  background-color: #000;
}

.help-section {
  border: none;
  background-color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 11rem;
  z-index: 2;
}

.help-img {
  width: 60px;
}

.info-section {
  max-width: 1300px;
  margin: 5rem auto;
  width: 100%;
  background-color: #483eff;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  gap: 5rem;
}

.info-column-box {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  flex: 0.25;
}

.info-box {
  text-transform: uppercase;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 3rem 1rem;
  font-size: 20px;
  text-align: center;
  font-family: "DM Sans";
  font-weight: 700;
}

.info-selected {
  background-color: #bce0f6;
  color: #000;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  border: none;
}

.info {
  background-color: #fff;
  flex: 0.75;
  border-radius: 10px;
  padding: 2rem;
  position: relative;
}

.info-title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-family: "inter";
  font-weight: 700;
}

.info p {
  font-size: 1.6rem;
  line-height: 2.5;
  font-family: "Roboto";
  font-weight: 400;
  margin-left: 2rem;
}

.info-btn {
  background-color: #000;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.info-arrow {
  width: 16px;
}
